Source: nemo
Section: gnome
Priority: optional
Maintainer: Jacob Zimmermann <ppa@jzimm.net>
XSBC-Original-Maintainer: Linux Mint <root@linuxmint.com>
Build-Depends: debhelper (>= 8),
               dh-autoreconf,
               gnome-pkg-tools (>= 0.13),
               libglib2.0-dev (>= 2.31.9),
               libatk1.0-dev (>= 1.32.0),
               libgtk-3-dev (>= 3.3.18),
               libgail-3-dev,
               libgnome-desktop-3-dev (>= 3.0.0),
               libxapp-dev (>= 1.0.4),
               libxml2-dev (>= 2.7.8),
               libexif-dev (>= 0.6.20),
               libexempi-dev (>= 2.1.0),
               libnotify-dev (>= 0.7.0),
               intltool (>= 0.40.1),
               gtk-doc-tools (>= 1.4),
               libxt-dev,
               libx11-dev,
               libxrender-dev,
               libxext-dev,
               x11proto-core-dev,
               shared-mime-info (>= 0.50),
               gobject-introspection (>= 0.9.12-4~),
               libgirepository1.0-dev (>= 0.9.12),
               libunity-dev (>= 4.0),
               libzeitgeist-dev (>= 0.3.18),
               libglib2.0-doc,
               libgtk-3-doc,
               python-dev,
               python3-polib,
               python3-gi,
               cinnamon-l10n
Homepage: http://www.github.com/linuxmint/nemo/
Standards-Version: 3.9.8

Package: nemo
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nemo-data (= ${source:Version}),
         shared-mime-info (>= 0.50),
         desktop-file-utils (>= 0.7),
         gvfs (>= 1.3.2),
         libglib2.0-data,
         gsettings-desktop-schemas,
         libxapp1,
         cinnamon-l10n
Recommends: eject,
            librsvg2-common,
            gvfs-backends,
            nemo-fileroller
Suggests: eog,
          evince | pdf-viewer,
          totem | mp3-decoder,
          xdg-user-dirs
Conflicts: nemo-data (<< 2.2.4-2~)
Breaks: gnome-volume-manager (<< 2.24),
        rhythmbox (<< 0.12),
        gnome-session (<< 2.28),
        gnome-bluetooth (<< 3.0)
Description: File manager and graphical shell for Unity
 Nemo is the official file manager for the Cinnamon desktop. 
 This Nemo package includes Unity-specific patches (should also work 
 with GNOME, Xfce). It allows to browse directories, preview files 
 and launch applications associated with them. It is also responsible
 for handling the icons on the Cinnamon desktop. It works on local 
 and remote filesystems.
 .
 Several icon themes and components for viewing different kinds of files
 are available in separate packages.

Package: nemo-dbg
Section: debug
Architecture: any
Priority: extra
Depends: nemo (= ${binary:Version}),
         ${misc:Depends}
Replaces: libnemo-extension1-dbg
Description: File manager and graphical shell for Unity (Debugging symbols)
 Nemo is the official file manager for the Cinnamon desktop. It allows
 to browse directories, preview files and launch applications associated
 with them. It is also responsible for handling the icons on the Cinnamon
 desktop. It works on local and remote filesystems.
 .
 This development package contains the debugging symbols of nemo and its
 extension library.

Package: libnemo-extension1
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: libnemo-extension1a
Replaces: libnemo-extension1a
breaks: libnemo-extension1a
Description: Nemo component system facilities
 Nemo is the official file manager for the Cinnamon desktop. It allows
 to browse directories, preview files and launch applications associated
 with them. It is also responsible for handling the icons on the Cinnamon
 desktop. It works on local and remote filesystems.
 .
 This package contains the shared library needed by the nemo extensions.

Package: libnemo-extension-dev
Architecture: any
Section: libdevel
Depends: libnemo-extension1 (= ${binary:Version}),
         gir1.2-nemo-3.0 (= ${binary:Version}),
         libglib2.0-dev (>= 2.31.9),
         libgtk-3-dev (>= 3.3.18),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Nemo component system facilities (development files)
 Nemo is the official file manager for the Cinnamon desktop. It allows
 to browse directories, preview files and launch applications associated
 with them. It is also responsible for handling the icons on the Cinnamon
 desktop. It works on local and remote filesystems.
 .
 This package contains the files needed to compile and link nemo extensions.

Package: gir1.2-nemo-3.0
Architecture: any
Section: introspection
Depends: ${gir:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Conflicts: gir1.0-nemo-3.0
Replaces: gir1.0-nemo-3.0
Description: libraries for nemo components - gir bindings
 Nemo is the official file manager for the Cinnamon desktop. It allows
 to browse directories, preview files and launch applications associated
 with them. It is also responsible for handling the icons on the Cinnamon
 desktop. It works on local and remote filesystems.
 .
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings.

Package: nemo-data
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python2.7
Suggests: nemo
Breaks: nemo (<< 2.3)
Replaces: nemo (<< 2.3)
Description: File manager and graphical shell for Unity (data files)
 Nemo is the official file manager for the Cinnamon desktop. It allows
 to browse directories, preview files and launch applications associated
 with them. It is also responsible for handling the icons on the Cinnamon
 desktop. It works on local and remote filesystems.
 .
 This package contains pictures, localization files and other data
 needed by nemo.
